/* IBM SkillsBuild Chatbot */
body {    
    background-color: #F2F4F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    /*box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.2);*/
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

img.logo {
    height: 100px;
}

img.courseware-image {
    height: 100px;
}

#chat-area {
    border: 1px solid #bfbfbf;
    height: 500px;
    margin-bottom: 20px;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-bot {
    background-color: #0f62fe;
    color: #ffffff;
    text-align: left;
}

.message-user {
    background-color: #393939;
    color: #ffffff;
    text-align: right;
}

.input-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
}

.message-input {
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    flex-grow: 1;
    height: 40px;
    margin-right: 10px;
    padding: 10px;
}

.send-btn {
    background-color: #0f62fe;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    height: 40px;
    padding: 10px 20px;
}

/* Loading animations */
.loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0f62fe;
    margin: 3px;
    animation: dot 1.4s infinite;
    animation-fill-mode: both;
}

.dot:nth-child(2) {
    animation-delay: .2s;
}

.dot:nth-child(3) {
    animation-delay: .4s;
}

@keyframes dot {
    0%, 80%, 100% {
        transform: scale(0);
    } 
    40% {
        transform: scale(1);
    }
}

/* Toggle Switch CSS */

.model-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.model-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Arial, sans-serif;
    color: #aaa;
    text-align: center;
    position: relative;
    margin: 0 10px;
}

.model-button .icon {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.model-button .background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: inherit;
}

.model-button .glass {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: inherit;
    backdrop-filter: blur(4px);
}

.model-button .detail {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
}

input[name="model"]:checked + .model-button {
    color: #fff;
    background-color: #0f62fe;
    border-color: #0f62fe;
}

input[type=radio] {
    position: absolute;
    left: -9999px;
}



